extends layout
block content
    .off-canvas-wrapper-inner(data-off-canvas-wrapper='')
        script.
          $(document).ready(function() {
            $('.top-nav').on('sticky.zf.stuckto:top', function(){
              $(this).addClass('shrink');
            }).on('sticky.zf.unstuckfrom:top', function(){
              $(this).removeClass('shrink');
            })
          });

          function check_text_length(text, index){
            if(text.length < 25){
              console.log("product_name"+index);
              document.getElementById("product_name_"+index).innerHTML = text;
            }else{
              document.getElementById("product_name_"+index).innerHTML = text.substr(0, 22)+"...";
            }
          }

        include menutab
        div.offf-canvas-content(data-off-canvas-content)
          include titlebar
          br
          include slideshow
          include event
          section.striped(role='itemfreq')
            .row
              .small-12.medium-12.large-12.columns
                .row
                  .small-6.medium-6.large-6.columns
                    h2.page-title Promotion
                  .small-2.medium-2.large-2.columns
                    h4.right(style="margin-top:20px;")
                      a(onclick="window.location.href='/product'") seeall
                .row.small-up-1.medium-up-3.large-up-4(data-equalizer='', data-equalize-by-row='true')
                  - each item, i in data
                    .columns
                      .callout
                        a(href='#')
                          img(src=item.product_pic, alt='Local food' style="width:100%; height:200px" onload="check_text_length('#{item.product_name}', #{i})")
                        .caption.text-left
                          br
                          p(id="product_name_#{i}")
                          p= item.product_des
                          a(onclick="window.location.href='/product/#{item.product_id}'") BuyNow

            include footer
        script(src='/javascripts/vendor/jquery.js')
        script(src='/javascripts/vendor/what-input.js')
        script(src='/javascripts/vendor/foundation.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/signin.js')
