extends layout
block content
    .off-canvas-wrapper-inner(data-off-canvas-wrapper='')
      script.
        $(document).ready(function() {
          $('.top-nav').on('sticky.zf.stuckto:top', function(){
            $(this).addClass('shrink');
          }).on('sticky.zf.unstuckfrom:top', function(){
            $(this).removeClass('shrink');
          })
        });

        function check_text_length(text, index){
          if(text.length < 20){
            console.log("product_name"+index);
            document.getElementById("product_name_"+index).innerHTML = text;
          }else{
            document.getElementById("product_name_"+index).innerHTML = text.substr(0, 22)+"...";
          }
        }
      include menutab
      div.offf-canvas-content(data-off-canvas-content)
        include titlebar

        h1(style="margin-top:5px;") รายการผลิตภัณฑ์
        section.striped(role='itemfreq' margin-top: 5px;)
            .row.small-up-1.medium-up-2.large-up-3(data-equalizer='', data-equalize-by-row='true')
              - each item, i in data
                .columns
                  .callout
                    center
                      a(href='#')
                        img(src=item.product_pic, alt='Local food' style="width:100%; height:200px" onload="check_text_length('#{item.product_name}', #{i})")
                    .caption.text-left
                      br
                      .row.columns
                        p(id="product_name_#{i}")
                      .row
                        .small-4.medium-4.large-4.columns
                          h4(style="margin-top:0px;") จำนวน
                        .small-2.medium-2.large-2.columns(style="margin-top:-5px;")
                          a.button.alert -
                        .small-2.medium-2.large-2.columns
                          h4(style="margin-top:0px;")= item.product_stock
                        .small-3.medium-3.large-3.columns(style="margin-top:-5px;")
                          a.button.success +
                      .row
                        .columns.small-offset-7
                          a.button บันทึกค่า

    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/what-input.js')
    script(src='/javascripts/vendor/foundation.js')
    script(src='/javascripts/app.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script.
      $(document).ready(function() {
        $('a').on('click', function(e) {
          e.preventDefault();
        });
      });
